;SQL Server 2016 Configuration File
[OPTIONS]
{% if VAR_ACTION %}
ACTION={{ VAR_ACTION }}
{% endif %}
IACCEPTSQLSERVERLICENSETERMS="True"
{% if VAR_ENU %}
ENU="{{ VAR_ENU }}"
{% endif %}
QUIET="True"
{% if VAR_UpdateEnabled %}
UpdateEnabled="{{ VAR_UpdateEnabled }}"
{% endif %}
{% if VAR_FEATURES %}
FEATURES={{ VAR_FEATURES }}
{% endif %}
{% if VAR_UpdateSource %}
UpdateSource="{{ VAR_UpdateSource }}"
{% endif %}
{% if VAR_INDICATEPROGRESS %}
INDICATEPROGRESS="{{ VAR_INDICATEPROGRESS }}"
{% endif %}
{% if VAR_INSTANCENAME %}
INSTANCENAME="{{ VAR_INSTANCENAME }}"
{% endif %}
{% if VAR_INSTALLSHAREDDIR %}
INSTALLSHAREDDIR="{{ VAR_INSTALLSHAREDDIR }}"
{% endif %}
{% if VAR_INSTALLSHAREDWOWDIR %}
INSTALLSHAREDWOWDIR="{{ VAR_INSTALLSHAREDWOWDIR }}"
{% endif %}
{% if VAR_INSTANCEDIR %}
INSTANCEDIR="{{ VAR_INSTANCEDIR }}"
{% endif %}
{% if VAR_AGTSVCACCOUNT %}
AGTSVCACCOUNT="{{ VAR_AGTSVCACCOUNT }}"
{% endif %}
{% if VAR_AGTSVCPASSWORD %}
AGTSVCPASSWORD="{{ VAR_AGTSVCPASSWORD }}"
{% endif %}
{% if VAR_AGTSVCSTARTUPTYPE %}
AGTSVCSTARTUPTYPE="{{ VAR_AGTSVCSTARTUPTYPE }}"
{% endif %}
{% if VAR_SQLSVCSTARTUPTYPE %}
SQLSVCSTARTUPTYPE="{{ VAR_SQLSVCSTARTUPTYPE }}"
{% endif %}
{% if VAR_ENABLERANU %}
ENABLERANU="{{ VAR_ENABLERANU }}"
{% endif %}
{% if VAR_SQLCOLLATION %}
SQLCOLLATION="{{ VAR_SQLCOLLATION }}"
{% endif %}
{% if VAR_SQLSVCACCOUNT %}
SQLSVCACCOUNT="{{ VAR_SQLSVCACCOUNT }}"
{% endif %}
{% if VAR_SQLSVCPASSWORD %}		
SQLSVCPASSWORD="{{ VAR_SQLSVCPASSWORD }}"		
{% endif %}		
{% if VAR_SQLSVCINSTANTFILEINIT %}
SQLSVCINSTANTFILEINIT="{{ VAR_SQLSVCINSTANTFILEINIT }}"
{% endif %}
{% if VAR_SQLSYSADMINACCOUNTS %}
SQLSYSADMINACCOUNTS="{{ VAR_SQLSYSADMINACCOUNTS }}"
{% endif %}
{% if VAR_SQLTEMPDBFILECOUNT %}
SQLTEMPDBFILECOUNT="{{ VAR_SQLTEMPDBFILECOUNT }}"
{% endif %}
{% if VAR_SQLTEMPDBFILESIZE %}
SQLTEMPDBFILESIZE="{{ VAR_SQLTEMPDBFILESIZE }}"
{% endif %}
{% if VAR_SQLTEMPDBFILEGROWTH %}
SQLTEMPDBFILEGROWTH="{{ VAR_SQLTEMPDBFILEGROWTH }}"
{% endif %}
{% if VAR_SQLTEMPDBLOGFILESIZE %}
SQLTEMPDBLOGFILESIZE="{{ VAR_SQLTEMPDBLOGFILESIZE }}"
{% endif %}
{% if VAR_SQLTEMPDBLOGFILEGROWTH %}
SQLTEMPDBLOGFILEGROWTH="{{ VAR_SQLTEMPDBLOGFILEGROWTH }}"
{% endif %}
{% if VAR_ADDCURRENTUSERASSQLADMIN %}
ADDCURRENTUSERASSQLADMIN="{{ VAR_ADDCURRENTUSERASSQLADMIN }}"
{% endif %}
{% if VAR_TCPENABLED %}
TCPENABLED="{{ VAR_TCPENABLED }}"
{% endif %}
{% if VAR_NPENABLED %}
NPENABLED="{{ VAR_NPENABLED }}"
{% endif %}
{% if VAR_BROWSERSVCSTARTUPTYPE %}
BROWSERSVCSTARTUPTYPE="{{ VAR_BROWSERSVCSTARTUPTYPE }}"
{% endif %}
{% if VAR_SAPWD %}
VAR_SAPWD="{{ VAR_SAPWD }}"
{% endif %}
{% if VAR_SECURITYMODE %}
VAR_SECURITYMODE="{{ SECURITYMODE }}"
{% endif %}
{% if VAR_PID %}
PID="{{ VAR_PID }}"
{% endif %}
{% if VAR_ASSYSADMINACCOUNTS %}
ASSYSADMINACCOUNTS="{{ VAR_ASSYSADMINACCOUNTS }}"
{% endif %}
{% if VAR_ASSVCACCOUNT %}
ASSVCACCOUNT="{{ VAR_ASSVCACCOUNT }}"
{% endif %}
{% if VAR_ASSVCPASSWORD %}
ASSVCPASSWORD="{{ VAR_ASSVCPASSWORD }}"
{% endif %}
{% if VAR_ISSVCACCOUNT %}
ISSVCACCOUNT="{{ VAR_ISSVCACCOUNT }}"
{% endif %}
{% if VAR_ISSVCPASSWORD %}
ISSVCPASSWORD="{{ VAR_ISSVCPASSWORD }}"
{% endif %}
{% if VAR_RSSVCACCOUNT %}
RSSVCACCOUNT="{{ VAR_RSSVCACCOUNT }}"
{% endif %}
{% if VAR_RSSVCPASSWORD %}
RSSVCPASSWORD="{{ VAR_RSSVCPASSWORD }}"
{% endif %}
